.hasLogin{
	margin: 0upx;
	padding: 0upx;
}

.top-box{
	background: rgba(255,102,0, 0.7);
	height: 300upx;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.avatar{
	width: 128upx;
	height: 128upx;
	border-radius: 8upx;
}

.user-name-box text{
	color: white;
}

.message-box,.operating-box{
	background: white;
	margin-bottom: 30px;
}

.message,.operating{
	padding: 0 30upx;
	height: 100upx;
	border-bottom: 1upx solid #c1c1c1;
	display: flex;
	align-items: center;
}

.message text{
	color: #333333;
}

.message-img,.operating-img{
	width: 70upx;
	height: 70upx;
	margin-right: 20upx;
}

.ripple {
    position: relative;
	/* 隐藏溢出的径向渐变背景 */
    overflow: hidden;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	/* pointer-events: none; */
    background-image: radial-gradient(circle, #ff6600 10%, transparent 20%);
    background-repeat: no-repeat;
    background-position: 50%;
	/* 2D线性扩散 */
    transform: scale(10, 10);
    opacity: 0;
	/* 添加动画时间 */
    transition: transform 1s, opacity 1s;
}

.ripple:active:after {
	 /* 设置初始状态 */
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}